@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    /* and (-webkit-device-pixel-ratio : 3) */
    {

    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .left-content{
        display: none;
    }

    .mid-content{
        padding: 1em;
        /* padding-bottom: 100px; */
    }

    .mid-content > div {
        padding-bottom: 100px;
    }

    .right-content{
        display: none;
    }

    #intro{
        width: 100%;
    }

    #experience{
        /* width: 100%; */
    }

    #projects {
        width: 90%;
    }

    #codes{
        width: 90%;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .job{
        grid-template-columns: repeat(1, 1fr);
    }

    .job > div:nth-child(even){
        text-align: justify;
    }

    .code_project{
        font-size: 90%;
    }

}
