body{
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
}

hr{
    width: 69px;
    height: 2px;
    background-color: black;
    border: none;
    float: left;
}

h1{
    font-weight: 700;
}

p{
    font-weight: 300;
}

hl{
    font-weight: 700;
}

#intro{
    width: 60%;     /* change in media queries */
    font-weight: 300;
}

.section{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.section_label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #007bff;
}

.container{
    width: 100%;
    margin: 0;
    /* background: whitesmoke; */
}

/* HEADER */

.header{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr 6fr 1fr);
}

.header > div:nth-child(odd){
    /* background-color: #fae; */
}

.header > div:nth-child(even){
    /* background-color: #cfe; */

    padding-left: 1em;
}

/* CONTAINER */

.main-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr 6fr 1fr);
}

/* LEFT */

.left-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.left-content > div {
    padding-left: 1em;
}

#sideNav{
    /* background-color: #adc; */
    display: none;
    /* height: 40%; */
    /* position: fixed; */
}

/* RIGHT */

.mid-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* width: 60%; */
}

.mid-content > div {
    padding-left: 1em;
    padding-right: 1em;
    min-height: 500px;
}

/* PROJECT CARDS */

.cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    /* grid-gap: 1em; */
}

.cards > div{
    border: 1px solid white;
    padding: 1em;
}

.cards > div:nth-child(odd){
    background-color: #faa;
}

.cards > div:nth-child(even){
    background-color: #aff;
}

/* EXPERIENCE  */

.job {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}

.job > div{
    /* border: 1px solid gray; */
    padding-bottom: 1em;
}

.job > div:nth-child(even){
    text-align: right;
}

/* LANGS */

.langs {
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0px;
    float: left;
    padding: 5px;
    margin-right: 5px;
    /* font-size: 90%; */
}

/* CODE PROJECTS */

.code_project{
    padding-bottom: 3em;
}


/* SECTIONS */

#intro{
    /* font-size: 1.2em; */
    font-weight: 300;
}

#about{
    /* background-color: #afd; */
    font-size: 1.2em;
}

#projects{
    width: 60%;
    /* background-color: #acd; */
}

#experience{
    width: 50%;
    /* background-color: #aaf; */
}

emp{
    font-weight: 600;
    color: #444452;
}

dat{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0px;
    font-size: 80%;
}

.project_label{
    color: black;
}
